{% extends "base.html" %}
{% load static %}
{% block title %}
    Password Reset
{% endblock title %}
{% block header %}
{% endblock header %}
{% block content %}
    <section class="bg-gray-100 flex justify-center items-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold text-gray-800 text-center">Enter new password</h2>
            <p class="text-gray-600">Please enter your new password twice so we can verify you typed it in correctly.</p>
            {% comment %}Errors{% endcomment %}
            {% if messages %}
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    {% for message in messages %}
                        <li class="{% if message.tags == 'error' %} text-red-500{% elif message.tags == 'success' %} text-green-500{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Sign-In Form -->
            <form class="mt-6" method="post">
                {% csrf_token %}
                <!-- New Password -->
                <!-- Password -->
                <div class="mt-4">
                    <label class="form-label" for="id_new_password1">New Password</label>
                    <input type="password"
                           name="new_password1"
                           id="id_new_password1"
                           placeholder="Enter your new password"
                           class="form-input">
                </div>
                <!-- New Password -->
                <div class="mt-4">
                    <label class="form-label" for="id_new_password2">Confirm Password</label>
                    <input type="password"
                           name="new_password2"
                           id="id_new_password2"
                           placeholder="Enter your new password"
                           class="form-input">
                </div>
                <!-- Login Button -->
                <button type="submit" class="dark:bg-green-600 form-button">Change my password</button>
                <!-- Forgot Password & Signup -->
                <div class="text-center mt-4 text-gray-600">
                    Remember my password
                    <a href="{% url 'login' %}"
                       class="text-green-600 hover:underline dark:text-green-600">Login</a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
{% block footer %}
{% endblock footer %}
