{% extends "base.html" %}
{% load static %}
{% block title %}
    Password Reset
{% endblock title %}
{% block header %}
{% endblock header %}
{% block content %}
    <section class="bg-gray-100 flex justify-center items-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold text-gray-800 text-center">Password Reset</h2>
            <p class="text-gray-600">
                Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
            </p>
            {% comment %}Errors{% endcomment %}
            {% if messages %}
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    {% for message in messages %}
                        <li class="{% if message.tags == 'error' %} text-red-500{% elif message.tags == 'success' %} text-green-500{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Sign-In Form -->
            <form class="mt-6" method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <!-- Username or Email -->
                <div>
                    <label class="form-label" for="id_email">Email</label>
                    <input type="email"
                           name="email"
                           id="id_email"
                           placeholder="abc@gmail.com"
                           class="form-input">
                </div>
                <!-- Login Button -->
                <button type="submit" class="dark:bg-green-600 form-button">Reset my password</button>
                <!-- Forgot Password & Signup -->
                <div class="text-center mt-4 text-gray-600">
                    Remember my password
                    <a href="{% url 'login' %}"
                       class="text-green-600 hover:underline dark:text-green-600">Login</a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
{% block footer %}
{% endblock footer %}
